[Unit]
Description=Sausage Store Backend

[Service]
StandardOutput=append:/opt/log/sausage-store-backend.log
Restart=always
ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar' \
--spring.datasource.url=jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME} \
--spring.datasource.username=${PSQL_USER} \
--spring.datasource.password=${PSQL_PASSWORD} \
--spring.data.mongodb.uri=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DATABASE}?replicaSet=${MONGO_RS}$&tls=true
SuccessExitStatus=143

[Install]
WantedBy=default.target